<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

<div class="barra">
    <div class="contenedor clearfix">
        <div class="logo">
            <nav class="lgo">
                <a href="/"> <b>Kolibri</b> OS</a>
            </nav>
            
        </div>

        <div class="menu-movil">
            <span></span>
            <span></span>
            <span></span>
        </div>
      

        <nav class="navegacion-principal clearfix">
            <a href="../descargar/">Descargar</a>
            <a href="../versiones/">Versiones</a>
            <a href="../software/">software</a>
            <a href="../foro/">Foro</a>
        </nav>
    </div>
    <!--.contenedor-->
</div>

<section class="contenedor seccion">
    <h2 class="fw-300 centrar-texto">Kolibri OS</h2>
    <p>KolibriOS es un pequeño sistema operativo poderoso y rápido. Sólamente requiere unos pocos megabytes de espacio en disco y 8MB de memoria RAM para funcionar. Kolibri incluye varias aplicaciones: procesador de textos, visor de imágenes, editor gráfico, navegador web y más de 30 juegos. El soporte total para FAT12/16/32 está implementado, como también el soporte de sólo lectura para NTFS, ISO9660 y Ext2/3/4. Hay controladores escritos para las tarjetas más populares de sonido, red y video.</p>
    <p>¿Alguna vez soñaste con un sistema que demorara menos de 10 segundos en cargar la interfaz gráfica luego del encendido, en un PC de 100 dólares? ¿Aplicaciones que inician inmediatamente luego de cliquear un icono, sin un molesto cursor con forma de reloj de arena? ¡Con KolibriOS es posible porque su núcleo y controladores están escritos enteramente en el lenguaje ensamblador FASM! Prueba Kolibri y comparalo con pesos pesados como Windows y Linux.</p>
    <p>KolibriOS empezó en 2004 usando como base el código de MenuetOS, pero desde entonces su desarrollo es independiente. Todo nuestro código es abierto, con la mayoría del código liberado bajo la licencia GPLv2. Apreciamos mucho tus comentarios y tu ayuda es muy bienvenida.</p>
</section>

<section class="contenedor seccion">
    <h2 class="fw-300 centrar-texto">Que ofrece Kolibri OS?</h2>
    <div class="iconos-nosotros"> 
        <div class="icono">
            <img src="{{ url_for('static', filename = 'img/icono1.svg') }}" alt="Icono seguridad">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint harum magnam veniam sed velit, corporis quod eaque sit eligendi rerum voluptas, libero veritatis blanditiis vitae dolorum! Quaerat natus dignissimos temporibus.</p>
        </div>

        <div class="icono">
            <img src="{{ url_for('static', filename = 'img/icono2.svg') }}" alt="Icono mejor precio">
            <h3>Robustez</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe corporis dolore non alias hic? Animi quam atque nesciunt autem asperiores suscipit? Perspiciatis blanditiis laudantium nesciunt numquam eaque sed consequatur ratione?</p>
        </div>

        <div class="icono">
            <img src="{{ url_for('static', filename = 'img/icono3.svg') }}" alt="Icono a tiempo">
            <h3>Velocidad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure velit dolor quas doloremque. Odio, aut dolor, pariatur ratione in impedit debitis maxime quam tenetur natus ipsa. Dolores illo obcaecati et.</p>
        </div>
    </div>
</section>

<section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Historia</h2>
        <p>La idea de escribir un sistema operativo completo en ensamblador es extraña pero atractiva. Sus principales ventajas son un rendimiento excepcional y una pequeña cantidad de código ejecutable. Las desventajas también son obvias: la complejidad y la estrecha vinculación con la arquitectura de la computadora. Sin embargo, los temerarios todavía se encuentran.</p>
        <p>El proyecto más famoso de este tipo es MenuetOS y su sucursal KolibriOS, que se está desarrollando en su mayor parte en Rusia. La historia de estos sistemas operativos no está exenta de intriga y desacuerdo, y hay razones para esto: en primer lugar, el proyecto es gratuito (la licencia es la GNU GPL de la segunda versión), es decir, sus participantes trabajan no con fines de lucro, sino por la idea. En segundo lugar, decisiones como la elección de la arquitectura del procesador, debido a los detalles del proyecto, son dramáticas. El equipo de desarrollo que decidió cambiar la plataforma está condenado a procesar casi por completo el código fuente.</p>
        <p>En comparación con otros sistemas operativos, MenuetOS es muy joven. Se ha desarrollado desde 2000 y logró hacerse famoso en los círculos de programación (por ejemplo, el artículo "Pequeño carrete, sí caro", escrito por Yakov Uvarov para "Computerra" en 2005). KolibriOS es aún más joven: se mudó de Menuet en 2004.

            </p>
        <p>Durante este tiempo, los desarrolladores lograron escribir alrededor de 7.5 MB de código en ensamblador puro. Las fuentes de Linux escritas principalmente en C tienen aproximadamente el mismo tamaño, y esto es solo el núcleo, mientras que la distribución KolibriOS incluye un shell gráfico y un pequeño conjunto de programas de aplicación (por diversión, observamos que, según estimaciones basadas en la famosa filtración de 2004, El código de Microsoft Windows 2000 tomó aproximadamente 1.5 GB).

            </p>
            <p>Al mismo tiempo, Hummingbird ya no es una "confirmación del concepto" y no un juguete, sino un sistema completamente funcional para el que se escriben los programas y que realmente se pueden utilizar para una serie (aunque no particularmente amplia) de tareas serias.

                </p>

    </section>
    

<main class="secccion contenedor">
    <h2 class="fw-300 centrar-texto">Software soportado</h2>

    <div class="contenedor-anuncios">
        
        <div class="anuncio">
            <img src="{{ url_for('static', filename = 'img/slaid6.png') }}" alt="Anuncio casa en el lago">
            <div class="contenido-anuncio">
                <h3>Emulador</h3>
                <a href="#" class="boton boton-amarillo d-block">Ver entrada</a>
            </div>
        </div>
        
        <div class="anuncio">
            <img src="{{ url_for('static', filename = 'img/slaid5.png') }}" alt="Anuncio casa terminados de lujo">
            <div class="contenido-anuncio">
                <h3>Juegos</h3>
                <a href="#" class="boton boton-amarillo d-block">Ver entrada</a>
            </div>
        </div>

        <div class="anuncio">
            <img src="{{ url_for('static', filename = 'img/slaid1.png') }}" alt="Anuncio casa con alberca">
            <div class="contenido-anuncio">
                <h3>Escritorio personal</h3>
                <a href="#" class="boton boton-amarillo d-block">Ver entrada</a>
            </div>
        </div>
    </div>
    <div class="ver-todas">
        <a href="#" class="boton boton-verde">Ver todo</a>
    </div>
</main>



  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
